<launch>
	
	
	<arg name="prefix" default="robot_x" />
	<arg name="num" default = "-1"/>

	<param name="tf_prefix" value="$(arg prefix)" />
	<param name="rob_num" value="$(arg num)" />
	
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    		<rosparam file="$(find tf_sim)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    		<rosparam file="$(find tf_sim)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    		<rosparam file="$(find tf_sim)/config/local_costmap_params.yaml" command="load" />
    		<rosparam file="$(find tf_sim)/config/global_costmap_params.yaml" command="load" />
    		<rosparam file="$(find tf_sim)/config/base_local_planner_params.yaml" command="load" />
  	</node>

	<!-- Launch Localization -->
	<!--<node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
		<param name="odom_frame_id" value="$(arg prefix)/odom" />
		<param name="base_frame_id" value="$(arg prefix)/base_link" />
	</node>-->
	
	<param name="use_sim_time" value="true" />

  	<node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
		<param name="base_frame" value="$(arg prefix)/base_link"/>
		<param name="odom_frame" value="$(arg prefix)/odom"/>
		<param name="linearUpdate" value="0.5"/>
		<param name="maxRange" value="10"/>
		<param name="maxUrange" value="5"/>

    		<remap from="scan" to="base_scan" />
    		<remap from="base_link" to="$(arg prefix)/base_link" />
    		<remap from="odom" to="$(arg prefix)/odom" />
  	</node>

	<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    		args="0 0  0 0 0 0  $(arg prefix)/map $(arg prefix)/odom 100" />

</launch>
